@use "Tools/Variables.scss";


.mobile-menu {
	top: Variables.$headerHeightSmall;
	right: 0;
	position: fixed;
	height: calc(100vh - 50px);
	width: 100%;
	@include Variables.gradient;
	@include Variables.center;
	transform: translateX(100%);
	transition-duration: 0.5s;
	box-shadow: -5px 0px 10px rgba(#000, 0.25), -2.5px 0px 5px rgba(#000, 0.15);

	@media #{Variables.$mq-670} {
		top: Variables.$headerHeightLarge;
		width: 60%;
		max-width: 500px;
	}

	&>div {
		@include Variables.center;
		flex-direction: column;
		width: 90%;

		&>.link {
			color: #fff;
			font-size: 50px;
			margin: 20px 0;
			position: relative;

			&>a {
				cursor: pointer;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: -2.5px;
				left: 0;
				width: 100%;
				height: 3px;
				border-radius: 1.5px;
				transform-origin: 0% 50%;
				background-color: #fff;
				transform: scaleX(0);
				transition-duration: 0.3s;
			}

			&.active::after,
			&:hover::after {
				transform: scaleX(1);
			}
		}
	}

	&.open {
		transform: translateX(0%);
	}
}