@use "Tools/Variables.scss";

.route-loader {
	position: fixed;
	top: Variables.$headerHeightSmall;
	left: 0;
	z-index: 10000000000000;
	height: calc(100vh - Variables.$headerHeightSmall);
	width: 100%;
	@include Variables.center;
	background: rgba(#fff, 0.5);

	@media #{Variables.$mq-670} {
		top: Variables.$headerHeightLarge;
		height: calc(100vh - Variables.$headerHeightLarge);
	}
}