@use "Tools/Variables.scss";
@import-normalize;

html {
  background-color: #fff;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;

  &>.layout {
    margin-top: Variables.$headerHeightSmall;
    min-height: calc(100vh - Variables.$headerHeightSmall);

    @media #{Variables.$mq-670} {
      margin-top: Variables.$headerHeightLarge;
      min-height: calc(100vh - Variables.$headerHeightLarge);
    }

    &>.Route {
      @include Variables.center;
      width: 100%;
      background-color: #fff;
      margin-bottom: 50px;
      min-height: calc(100vh - Variables.$headerHeightSmall);

      @media #{Variables.$mq-670} {
        min-height: calc(100vh - Variables.$headerHeightLarge);
      }
    }
  }
}